* {
  font-family: "Abel", sans-serif;
}

@keyframes slide {
  from { background-position: 0 0; }
  to { background-position: -400px -400px; }
}

.timerContainerBackground { 
  background-image: url("../src/Static/images/darkbubble.webp");
  animation: slide 50s linear infinite;
  padding: 10px;
  padding-bottom: 20px;

}


.welcomePage {
  font-size: 25px;
  text-align: center;
  margin: 50px;
}

.sessionItem:last-child {
  margin-bottom: 20px;
}

#circle {
  width: 100%;
  height: 300px;
  shape-outside: circle();
  clip-path: circle();
  background: rgb(34, 34, 34, 0.9);
  opacity: 100%;
  margin-top: 25px;
  margin-bottom: 20px;
}

.timerContainer {
  -webkit-box-shadow: 0px 0px 33px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 33px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 33px 1px rgba(0, 0, 0, 0.75);

}

.timerText {
  -webkit-box-shadow: 0px 5px 33px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 33px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 33px 1px rgba(0, 0, 0, 0.75);
  font-size: 60px;
  color: white;
  transform: translateY(100px);
  text-align: center;
  align-items: center;
}

.toast-header {
  border-bottom: 1px solid #555 !important;
}

.navigationMenu {
  bottom: 0px;
  width: 100%;
  position: sticky;
  background: #2a9fd6;
  padding: 1vh;
  border-style: solid;
  border-color: #555;
  border-width: 0.5px;
  font-size: 25px;
  text-align: center;
}

.navigationMenu > a {
  margin-left: 20px;
  color: white;
}

.col-12.nomargins {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.navigationMenu > a:hover {
  color: black;
  background: #6ac5f7;
}

.sessionItem {
  padding: 1vh;
  margin-bottom: 5px;
  margin-top: 5px;
  border-color: #555;
  border-style: solid;
  background-color: #222;
  border-radius: 10px;
  color: white;
  text-align: center;
  -webkit-box-shadow: 11px 4px 15px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 4px 15px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 11px 4px 15px -3px rgba(0, 0, 0, 0.75);
}

.sessionItem:hover {
  border-color: grey;
}

#root {
  background-color: #555;
}

.disabledBtn:disabled {
  cursor: not-allowed;
}

html {
  background-color: #555;
  scroll-behavior: smooth;
  overflow-x: hidden;
  
}
.hideEmptySessionText {
  opacity: 0;
  font-size: 0px;
  display: flex;
  justify-content: center;
}

.showEmptySessionText {
  opacity: 1;
  display: flex;
  justify-content: center;
  margin-top: 20vh;
  font-size: 20px;
  text-align: center;
}

.timerButtonContainer {
  text-align: center;
}

.sessionContainer {
  margin: 5px;
  padding-top: 10px;
}

/*Custom scrollbar*/

.timerBtn {
  margin-left: 5px;
}

/* 




.main {
    background-color: #555;
    overflow-x: hidden;
    overflow-y: hidden;
}
.timerReadout {
    font-size: 40px;
    text-align: center;
    margin: auto;
    padding-top: 9vh;
}






#spaceBottom {
    margin-bottom: 5px;
}


.genericCenter {
    opacity: 1;
    margin: auto;
    margin-top: 20vh;
    font-size: 20px;
    text-align: center;
}

.timerContainer {
    text-align: center;
    background-color: #555;

}


.timerButtonContainer {
    margin-bottom: 10px;
}

.timerBtn {
    margin-left: 7px;
    margin-bottom: 5px;
}

.sessionContainer {


}

.sessionContainerEmpty {
    margin: auto;
    width: max-content;
    height: 60vh;
}







nav > span > a {
    color: white;
    text-decoration: none;
    transform: translateY(50%);
    text-align: center;
}



.signUpForm {
    padding: 10px;
}

.sessionItem {
    padding: 2vh;
    border-color: #555;
    border-style: solid;
    background-color: #2a9fd6;
    color: white;
    width: 100vh;
    height: fit-content;
    text-align: center;
}





    @media screen and (min-width: 600px) {

        nav > span {
            position: relative;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
        }
        
    
        nav > span > a {
            color: white;
            padding: 20px;
        }
    
        nav > span > a:hover {
            text-decoration: none;
            color: #222
        } 
        .sessionItem  {
            overscroll-behavior: none;
    
        }
        .sessionContainer {
            height: 40vh;
        }
    
        .timerReadout {
            font-size: 50px;
            text-align: center;
            margin: auto;
            padding-top: 13vh;
        }
    
        #circle {
            width: 230px;
            height: 230px;
            margin-bottom: 10px;
            margin-top: 5px;
            shape-outside: circle();
            clip-path: circle();
            background: #222;
        }
        
    
        .navigationContainer {
            background-color: #2a9fd6;
            border-color:  #2a9fd6;
            border-width: 5px;
            border-style: solid;
            font-size: 20px;
            bottom: 0px;
            height: 100%;
            width: 25vh;
        }
    
        .sessionItem {
            padding: 2vh;
            border-color: #555;
            border-style: solid;
            background-color: #2a9fd6;
            color: white;
            height: fit-content;
            text-align: center;
        }
        
      }
     */
