
.sessionContainer {

}

.sessionItem {
  margin-top: 5px;
  padding: 2vh;
  border-color: #555;
  border-style: solid;
  background-color: #222;
  border-radius: 10px;
  color: white;
  text-align: center;
}

#root {
  background-color: #555;
}

.disabledBtn:disabled {
  cursor: not-allowed;
}

html {
  background-color: #555;
  scroll-behavior: smooth;
}
.hideEmptySessionText {
  opacity: 0;
  font-size: 0px;
  display: flex;
  justify-content: center;
}

.showEmptySessionText {
  opacity: 1;
  display: flex;
  justify-content: center;
  margin-top: 20vh;
  font-size: 20px;
  text-align: center;
}

.sessionContainer {
  padding-top: 10px;
}

/*Custom scrollbar*/

::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

::-webkit-scrollbar-track {
  border: 1px solid #2a9fd6;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  background: #2a9fd6;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2a9fd6;
}

#circle {
  width: 100%;
  height: 30vh;
  margin-top: 10px;
  margin-bottom: 10px;
  shape-outside: circle();
  clip-path: circle();
  background: #222;
  opacity: 80%;
}

.timerBtn {
  margin-left: 5px;
}

/* 




.main {
    background-color: #555;
    overflow-x: hidden;
    overflow-y: hidden;
}
.timerReadout {
    font-size: 40px;
    text-align: center;
    margin: auto;
    padding-top: 9vh;
}





.signUpContainer {
    margin: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
}

#spaceBottom {
    margin-bottom: 5px;
}


.genericCenter {
    opacity: 1;
    margin: auto;
    margin-top: 20vh;
    font-size: 20px;
    text-align: center;
}

.timerContainer {
    text-align: center;
    background-color: #555;

}


.timerButtonContainer {
    margin-bottom: 10px;
}

.timerBtn {
    margin-left: 7px;
    margin-bottom: 5px;
}

.sessionContainer {


}

.sessionContainerEmpty {
    margin: auto;
    width: max-content;
    height: 60vh;
}







nav > span > a {
    color: white;
    text-decoration: none;
    transform: translateY(50%);
    text-align: center;
}



.signUpForm {
    padding: 10px;
}

.sessionItem {
    padding: 2vh;
    border-color: #555;
    border-style: solid;
    background-color: #2a9fd6;
    color: white;
    width: 100vh;
    height: fit-content;
    text-align: center;
}





    @media screen and (min-width: 600px) {

        nav > span {
            position: relative;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
        }
        
    
        nav > span > a {
            color: white;
            padding: 20px;
        }
    
        nav > span > a:hover {
            text-decoration: none;
            color: #222
        } 
        .sessionItem  {
            overscroll-behavior: none;
    
        }
        .sessionContainer {
            height: 40vh;
        }
    
        .timerReadout {
            font-size: 50px;
            text-align: center;
            margin: auto;
            padding-top: 13vh;
        }
    
        #circle {
            width: 230px;
            height: 230px;
            margin-bottom: 10px;
            margin-top: 5px;
            shape-outside: circle();
            clip-path: circle();
            background: #222;
        }
        
    
        .navigationContainer {
            background-color: #2a9fd6;
            border-color:  #2a9fd6;
            border-width: 5px;
            border-style: solid;
            font-size: 20px;
            bottom: 0px;
            height: 100%;
            width: 25vh;
        }
    
        .sessionItem {
            padding: 2vh;
            border-color: #555;
            border-style: solid;
            background-color: #2a9fd6;
            color: white;
            height: fit-content;
            text-align: center;
        }
        
      }
     */
