.homePageContainer {
  font-size: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-flow: column;

}

@keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -400px 0;
  }
}

.homeShadow {
  -webkit-box-shadow: 5px 5px 10px 0px #000000;
  box-shadow: 5px 5px 10px 0px #000000;
}

.jumboInfo {
  border-radius: 10px;
  padding: 2rem !important;
}

.jumbotron {
  animation: slide 30s linear infinite;
  border-radius: 0px;
  background-image: url("../../Static//images/footer_lodyas.png");
}

.lightDarkBg {
  background-color: rgba(100, 100, 100, 0.2);
}

.badge {
  padding: 0.5rem !important;
  -webkit-box-shadow: 5px 5px 10px -5px #000000;
  box-shadow: 5px 5px 10px -5px #000000;
}

.leadText {
  font-size: 1.5rem;
  border-radius: 10px;
  padding: 0.5rem !important;
}
