.navigationMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  background: #060606;
  position: fixed;
  padding: 2vh;
  transition: ease-in 0.1s;
  z-index: 10;
  font-size: 16px;
  border-bottom: 1px solid #555;
}

.navigationMenu:hover {
  border-bottom: 1px solid grey;
  transition: ease-in .3s;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none !important
}


.navItem {
  padding: 10px;
}

.logOutButton {
  margin-top: 5px;
}

.signInUpButton {
  margin-top: 5px;
}

.navItem:link {
  color: #fff;
  font-size: 1rem;
  line-height: 1.6rem;
}
.navItem:visited {
  color: #555
}
.navItem:hover {
  color: white
}
.navItem:active {
  color: lightgreen;
}
