.toast-header {
  border-bottom: 1px solid #555 !important;
}

.sessionItemNew {
  border-color: lightgreen;
}

.sessionItemNew:hover {
  border-color: greenyellow;
}

.sessionItem:hover {
  border-color: grey;
}

.sessionItem {
  padding: 1vh;
  margin-bottom: 10px;
  margin-top: 10px;
  border-color: #555;
  border-style: solid;
  background-color: #222;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  color: white;
  text-align: center;
  -webkit-box-shadow: 1px 8px 15px 5px rgba(0,0,0,0.79); 
  box-shadow: 1px 8px 15px 5px rgba(0,0,0,0.79);  
}

