.signInContainer {
  text-align: center;

}

.loginBtn {
  margin: 1rem;
}

/* :TODO: */
.signInForm {
  justify-content: center;
  text-align: center;
  display: flex;
}


.formBorder {
  border: 1px groove grey;
  padding: 1.5rem;
  -webkit-box-shadow: 0px 0px 33px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 33px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 33px 1px rgba(0, 0, 0, 0.75);

}

.formHeader {
  font-size: 1.5rem;
  padding: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px groove white;
  margin-bottom: 1rem;

}

.signInUsernameField {
  margin: 2rem;
  text-align: center;
}


.signInPasswordField {
  margin: 1rem;
  text-align: center;
  
}

.showPasswordCheckbox {
  padding: 1rem;
  color: whitesmoke;
  margin: 1rem;

}

.error {
  padding: 1rem;
  font-size: 1rem;
  color: red;
  background-color: white;
  border-radius: 10px;
}
