.signInContainer {
    text-align: center;
    display: flex;
    flex-direction: unset;
    justify-content: space-around;
  
  }
  /* :TODO: */
  .signInForm {
    background: grey;
    border-style: solid;
    border-width: 1px;
    -webkit-box-shadow: 0px 0px 33px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 33px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 33px 1px rgba(0, 0, 0, 0.75);
  }
  


  .signInPasswordField {

    margin: 20px;
    text-align: center;

  }

  .signInUsernameField {

    margin: 20px;
    text-align: center;
    
  }

  .showPasswordCheckbox {

    margin: 15px;
    color: whitesmoke;
    padding: 5px;
  }